::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
  
html {
    scrollbar-width: none; /* For Firefox */
}

body {
    background-color: #1A1A1A;
}

::-moz-selection {
    background: #005A43;
}
::-webkit-selection {
    background: #005A43;
}
::selection {
    background: #005A43;
}

scroll-down-arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border: 2px solid #005A43;
    border-radius: 50%;
    animation: scroll-down 2s infinite;
    cursor: pointer;
}

.safe-area-container {
    padding-top: env(safe-area-inset-top);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
  }  